beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
docopt==0.6.2
idna==2.10
joblib==1.0.0
kiwisolver==1.3.1
lxml==4.6.5
-e git+https://github.com/johnwmillr/LyricsGenius.git@47109a3e18b258da8835c52402f3b55347506176#egg=lyricsgenius
matplotlib==3.3.3
nltk==3.5
num2words==0.5.10
numpy==1.19.4
pandas==1.2.0
Pillow==8.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
requests==2.25.1
rymscraper==0.2.0
selenium==3.141.0
six==1.15.0
soupsieve==2.1
tqdm==4.55.1
urllib3==1.26.2
wordcloud==1.8.1
